theTannMannFoundation/TTMF_assignment_video.mkv
DeepThought/quiz-website/.vscode/
toDoApplication/
eduFund/
inkoop/
shooting-game/

vouch_digital/node_modules
vouch_digital/.env
vouch_digital/package-lock.json

XivTech/